<div id="main-container">
		<div  class="page-wrap">



<h1>Lugares Sugeridos</h1><br/><br/>

<%if Album.all.size == 0%>
<div class = "container2"><a href = "/home/index">
	      <img id = "asd" src="/camara.png"/><h1>No se han sugerido lugares aun...</h1></a>
</div>
<%else%>

    <% @albums.each do |t|%>
	    <div class = "container2"><a href = "/albums/<%=t.id%>">
	      <img id = "asd" src="/camara.png"/><h1><%=t.title%>, sugerido por <%= User.find(t.user_id).name%></h1></a>
	    </div>
	   <br/>
	<%end%>
    <%end%>

  </div>
</div>